// Collapsible behaviour for contact card
$vl-text-color: #c6538c;

.vl-contact-card {

  &.js-vl-accordion {

    .vl-contact-card__title {
      padding-left: 2rem;
      position: relative;
      cursor: pointer;
      margin-bottom: 0;
      transition: margin-bottom 0.3s;

      .vl-vi {
        position: absolute;
        left: 0;
        top: 0;
        transition: transform 0.2s;
        color: $vl-text-color;
        font-size: 1.3rem;
        line-height: 3.2rem;
      }
    }

    .vl-contact-card__content-wrapper {
      overflow: hidden;
      visibility: hidden;
      max-height: 0;
      transition: max-height 0.3s cubic-bezier(0, 1.05, 0, 1);

      // Maps implementation in contact card shouldn't be visible for lazyload purposes
      .vl-map {
        display: none;
      }
    }
  }

  &.js-vl-accordion--open {
    .vl-contact-card__title {
      margin-bottom: 1rem;
    }

    .vl-contact-card__content-wrapper {
      max-height: 9999px;
      visibility: visible;
      transition: max-height 0.3s ease-in;

      .vl-map {
        display: block;
      }
    }
  }

}
