@charset "utf-8";
@import "../../../node_modules/@govflanders/vl-ui-core/src/scss/core";
@import "../../../node_modules/@govflanders/vl-ui-titles/src/scss/titles";
@import "../../../node_modules/@govflanders/vl-ui-introduction/src/scss/introduction";
@import "../../../node_modules/@govflanders/vl-ui-side-navigation/src/scss/side-navigation";
@import "../../../node_modules/@govflanders/vl-ui-properties/src/scss/properties";
@import "../../../node_modules/@govflanders/vl-ui-util/src/scss/util";

:host {
    display: block;
}

vl-header-cookie, vl-header-authentication-cookie, vl-authentication-cookie, vl-jsessionid-cookie, vl-sticky-session-cookie, ::slotted(vl-cookie:not(:last-of-type)) {
    margin-bottom: 1.8rem;
}

.vl-region--overlap .inline {
    margin: 15px;
}

.inline {
    min-width: initial;
}

.hide {
    display: none;
}