{
    "assumptions": {
        "setPublicClassFields": true,
        "privateFieldsAsProperties": true
    },
    "presets": [
        [
            "@nrwl/web/babel",
            {
                "useBuiltIns": "usage"
            }
        ]
    ]
}
