// ==========================================================================
// Vlaanderen UI -- Select
// ==========================================================================
@charset "utf-8";

// ==========================================================================
// Core
// ==========================================================================
@import "../../../node_modules/@govflanders/vl-ui-core/src/scss/core";
@import "../../../node_modules/@govflanders/vl-ui-core-4.1.24/src/scss/generic/iconfont";

// ==========================================================================
// Dependencies
// ==========================================================================
@import "../input-field/styles.scss";

// ==========================================================================
// Components
// ==========================================================================
@import "../../../node_modules/@govflanders/vl-ui-select/src/scss/select";
@import "../../../node_modules/@govflanders/vl-ui-select/src/scss/js-select";

// ==========================================================================
// Util
// ==========================================================================
@import "../../../node_modules/@govflanders/vl-ui-util/src/scss/util";

.js-vl-select, .vl-select__list--dropdown {
    z-index: 100;
}

.js-vl-select.is-open, .vl-select__list--dropdown.is-active {
    z-index: 101;
}

.js-vl-select.vl-search__input > .vl-select__inner {
    border: none;
    &:hover {
        box-shadow: none;
    }
}
