@charset "utf-8";
@import '../../../node_modules/@govflanders/vl-ui-core/src/scss/core';
@import '../../../node_modules/@govflanders/vl-ui-util/src/scss/util';

#search-results, #sorter {
    line-height: 2em;
}

#sorter {
    text-align: right;

    label {
        margin-right: 10px;
    }
}

#filter-slot-container {
    margin-top: 8px;
}