@charset "utf-8";
@import "vl-ui-core/src/scss/core";
@import "vl-ui-util/src/scss/util";

#search-results, #sorter {
    line-height: 2em;
}

#sorter {
    text-align: right;

    label {
        margin-right: 10px;
    }
}

#filter-slot-container {
    margin-top: 8px;
}