// ==========================================================================
// Vlaanderen UI -- Alert
// ==========================================================================
@charset "utf-8";

// ==========================================================================
// Core
// ==========================================================================
@import "../../../node_modules/@govflanders/vl-ui-core/src/scss/core";
@import "../../../node_modules/@govflanders/vl-ui-core-4.1.24/src/scss/generic/iconfont";

// ==========================================================================
// Components
// ==========================================================================
@import "../../../node_modules/@govflanders/vl-ui-alert/src/scss/alert";

// ==========================================================================
// Util
// ==========================================================================
@import "../../../node_modules/@govflanders/vl-ui-util/src/scss/util";

.vl-alert {
    opacity: 1;
    transition: opacity 0.3s;
}

.vl-alert--fade-out {
    opacity: 0;
}
