div.uig-map-legend {
  position: absolute;
  z-index: 1;
  display: flex;
}

span.uig-map-legend-text {
  vertical-align: middle;
  font-size: 0.8em;
  line-height: 1em;
}
div.uig-map-legend-icon {
  vertical-align: middle;
  height: 0.8em;
  width: 0.8em;
  margin-left: 0.5em;
  display: inline-block;
}
