// ==========================================================================
// Vlaanderen UI -- RichData
// ==========================================================================
@charset "utf-8";

// ==========================================================================
// Core
// ==========================================================================
@import "../../../node_modules/@govflanders/vl-ui-core/src/scss/core";

// ==========================================================================
// Components
// ==========================================================================
@import "../grid/styles.scss";
@import "../form-message/styles.scss";
@import "../icon/styles.scss";
@import "../button/styles.scss";

// ==========================================================================
// Util
// ==========================================================================
@import "../../../node_modules/@govflanders/vl-ui-util/src/scss/util";

#search-results, #sorter {
    line-height: 2em;
}

#sorter {
    text-align: right;

    label {
        margin-right: 10px;
    }
}

#filter-slot-container {
    margin-top: 8px;
}
